
body {
  background-color: #DCDCDC ;
  font-family: Roboto, sans-serif;
  color: #6495ED;
  text-align: center;
}


.container {
  padding: 0 40px;
  margin-left: 80px;
}

  /* Свойства ссылок */
a {
  display: block;
  text-decoration:none;
  margin-bottom: 1.2em;
  text-align: left;
}

  /* Что делать при наведении на ссылку */
a:hover {
  color:#90EE90;
}

  /* Этим свойством добавляем подчеркивание через создание псевдокласса */
a::after {
  content: '';
  position: absolute;
  transform: translateY(1.5em);
  border-bottom: 1px solid #dadada;
  width: 300px;
  text-align: center;

}

h1 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  margin: 1.25em 0;
  text-align: left;
  text-decoration: blink;
}

  /* Свойства фотографии*/
.photo {
  border-radius: 120px;
  /* Радиус скругления */
  border: 7px solid transparent;
  /* Параметры рамки */
  box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.52);
  object-fit: cover;
}

  /* Эффект наведения на картинку */
.photo:hover {
  border: 3px solid #00BFFF;
}
button {
  font-size: 27px;
  color: #FF6347;

}
button:hover {
  color:#D2691E;
}